# postgresql config
POSTGRES_USER=apollo_user
POSTGRES_PASSWORD=SECRET_PASSWORD_HERE
POSTGRES_DB=apollo_db
POSTGRES_PORT=5432

# apache kafka configuration
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_HEAP_OPTS="-Xms256m -Xmx512m"